* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// ::-webkit-scrollbar-track {
//     background-color: #ffffff;
// }
// ::-webkit-scrollbar {
//     width: .5vw;
//     height: .7vw;
//     background: #F4F4F4;
// }
// ::-webkit-scrollbar-thumb {
//     background: black;
// }

.dafitiStructure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-wrap: pretty;

    p, h1, h2, h3, h4, tr, td {
        font-family: "Poppins", sans-serif;
    }

    h1, h2, h3, h4, h5, b, strong {
        font-weight: 800;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.05;
        @media (max-width: 768px) {
            font-size: 2.2rem;
        }
    }

    h2 {
        line-height: 1.2;
    }

    p, h5 {
        font-size: 1rem;
        line-height: 1.1;
    }

    td {
        line-height: 1.1;
    }

    button {
        cursor: pointer;
    }

    .limited {
        max-width: 1200px;
        margin: 0 auto;
    }

    a {
        color: #000000;
    }
}

section {

    @media (max-width: 768px) {
        
    }

    &.sec1 {
        background-color: #0005;

        .boxVideo {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            // height: 10rem;

            .maskVideo {
                height: 34vw;
                overflow: hidden;
                display: flex;
                align-items: center;
                position: relative;
                video {
                    width: 100%;
                    position: relative;
                    bottom: 5vw;
                }
                .shadowMask {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: #0005;
                }
            }

            .imgLogoFull {
                position: absolute;
                top: 3.5vw;
                left: 2vw;
                z-index: 1;
                width: 18vw;
            }
        }
    }

    &.sec2 {
        nav {
            padding: 2rem 1rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            button {
                width: 8rem;
                background-color: green;
                border: none;
                border-radius: 2rem;
                p {
                    color: #ffffff;
                    margin: .3rem 0;
                }
            }
        }
    }

    &.sec3 {
        .flexCol {
            padding: 2rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            .boxLeft {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                .imgLogoFull {
                    width: 70%;
                    filter: invert(100%);
                }
            }
            .boxRight {
                width: 50%;
                video {
                    width: 100%;
                }
            }
        }
    }

    &.sec4 {
        padding: 2rem;
        h2 {
            text-align: center;
        }
        .timeLine {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            .line {
                width: 80%;
                height: .3rem;
                background-color: green;
                position: absolute;
                top: calc((5rem + 1rem) - .15rem);
            }
            .box {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .ico {
                    height: 5rem;
                }
                .circle {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    background-color: green;
                }
                p {
                    text-align: center;
                    margin-top: 1rem;
                }
            }
        }
    }

    &.sec5 {
        padding: 2rem 0 2rem 2rem;
        .flexCol {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .boxLeft {
                .video-phone {
                    align-items: center;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 30vw;
                    margin-left: 3rem;
                    video {
                        mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgzIiBoZWlnaHQ9IjgyNCIgdmlld0JveD0iMCAwIDM4MyA4MjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxtYXNrIGlkPSJtYXNrMF8zMV80NTAiIHN0eWxlPSJtYXNrLXR5cGU6YWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIzODMiIGhlaWdodD0iODI0Ij4KPHBhdGggZD0iTTAuODk4NDM4IDQ5Ljc0NEMwLjg5ODQzOCAyMi40MTg5IDIzLjA0OTggMC4yNjc1NzggNTAuMzc0OCAwLjI2NzU3OEgzMzMuMTUxQzM2MC40NzYgMC4yNjc1NzggMzgyLjYyOCAyMi40MTg5IDM4Mi42MjggNDkuNzQzOVY3NzcuNDI3QzM4Mi42MjggODAyLjY1IDM2Mi4xOCA4MjMuMDk4IDMzNi45NTcgODIzLjA5OEg0Ni41Njg5QzIxLjM0NTggODIzLjA5OCAwLjg5ODQzOCA4MDIuNjUgMC44OTg0MzggNzc3LjQyN1Y0OS43NDRaIiBmaWxsPSJ3aGl0ZSIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazBfMzFfNDUwKSI+CjxwYXRoIGQ9Ik0wLjg5ODQzOCA0OS43NDRDMC44OTg0MzggMjIuNDE4OSAyMy4wNDk4IDAuMjY3NTc4IDUwLjM3NDggMC4yNjc1NzhIMzMzLjE1MUMzNjAuNDc2IDAuMjY3NTc4IDM4Mi42MjggMjIuNDE4OSAzODIuNjI4IDQ5Ljc0MzlWNzc3LjQyN0MzODIuNjI4IDgwMi42NSAzNjIuMTggODIzLjA5OCAzMzYuOTU3IDgyMy4wOThINDYuNTY4OUMyMS4zNDU4IDgyMy4wOTggMC44OTg0MzggODAyLjY1IDAuODk4NDM4IDc3Ny40MjdWNDkuNzQ0WiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K) no-repeat center / contain;
                        position: relative;
                        width: 100%;
                        z-index: 2;
                    }
                    .background-phone {
                        aspect-ratio: 578 / 1200;
                        background-color: #000000;
                        border-radius: 4.5vw;
                        margin: 0 auto;
                        position: absolute;
                        width: 107%;
                        z-index: 1;
                    }
                }
            }
            .boxRight {
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-right: 2rem;
                }
                .boxFaixas {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: .5rem;
                    margin-top: 1rem;
                    .faixa {
                        width: fit-content;
                        background-color: green;
                        border-radius: 2rem 0 0 2rem;
                        p {
                            margin: .7rem 2rem;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    &.sec6 {
        .flexCol {
            display: flex;
            align-items: center;
            .boxLeft {
                width: 50%;
                .parallax {
                    background-color: #0005;
                    width: 100%;
                    height: 30rem;
                    position: relative;
                    overflow: hidden;
                    border-radius: 0 20rem 20rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .parallaxImage {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        // background-attachment: fixed;
                        // background-position: bottom right;
                        // top: -100vh;
                        position: relative;
                        object-fit: cover;
                        object-position: right;
                    }
                }
            }

            .boxRight {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

    &.secLine {
        padding: 2rem 0;
        .line {
            display: flex;
            align-items: center;
            background-color: #F1F1F1;
            width: calc(100% - 2rem);
            border-radius: 0 10rem 10rem 0;
            height: 15rem;
            margin: 2rem 0;
            padding: 0 2rem;
            &.reverse {
                flex-direction: row-reverse;
                border-radius: 10rem 0 0 10rem;
                margin-left: 2rem;
            }
            img {
                width: 25vw;
            }
            .boxTxt {
                padding: 0 5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                gap: 2rem;
                &::after,
                &::before  {
                    content: '';
                    background-image: url('https://dafitistatic.dafiti.com.br/cms/2025_03_20_10_56_44_”.svg');
                    width: 3rem;
                    height: 3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    background-size: contain;
                    top: -1.5rem;
                    left: 1.5rem;
                }
                &::before {
                    transform: rotate(180deg);
                    top: initial;
                    left: initial;
                    bottom: -1.5rem;
                    right: 1.5rem;
                }
            }
        }
    }

    &.sec7 {
        .boxInfos {
            position: relative;
            background-color: #E3E3E3;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50vw;
            border-radius: 30vw 0 0 30vw;
            .circle {
                background-color: #398139;
                width: fit-content;
                aspect-ratio: 1/1;
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .line {
                position: absolute;
                display: flex;
                align-items: center;
                gap: 1rem;
                img {
                    width: 8vw;
                }
                p {
                    max-width: 20vw;
                }
                &.line1 {
                    top: 5vw;
                    left: 60vw;
                }
                &.line2 {
                    left: 70vw;
                }
                &.line3 {
                    bottom: 5vw;
                    left: 60vw;
                }
                &.line4 {
                    bottom: 5vw;
                    right: 60vw;
                }
                &.line5 {
                    right: 70vw;
                }
                &.line6 {
                    top: 5vw;
                    right: 60vw;
                }
            }
        }
    }

    &.sec8 {
        padding: 2rem;
        .faq {
            display: grid;
            gap: .5rem;
        
            h2 {
                // background-clip: text;
                // color: #ffffff;
                // font-size: 2.5rem;
                // font-weight: 800;
                // letter-spacing: 0.617px;
                // line-height: 1.1;
                // margin: 0 auto 1rem;
                // opacity: 0.7;
                // text-align: center;
                // -webkit-background-clip: text;
                // -webkit-text-stroke: 2px #000000;
                // text-stroke: 2px #ffffff;
            }
        
            p {

            }
        
            .accordion {
                background-color: #cccccc;
                border-radius: .8rem;
                margin: 0 auto;
                overflow: hidden;
                transition: background-color 0.5s ease;
                width: 100%;
        
                h3, h4, h5, h6, p, li, a, th, td {
                    // color: #ffffff;
                    font-family: "Poppins", sans-serif;
                    line-height: normal;
                    margin: 0;
                    text-align: left;
                }
        
                ul {
                    list-style: circle;
                }
        
                ul, ol {
                    margin: 0 30px 15px 30px;
                }
        
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    margin: 15px auto;
        
                    th, td {
                        padding: 5px;
                        text-align: center;
                    }
        
                    &, tr, th, td {
                        border: 1px solid #000000;
                        vertical-align: middle;
                        line-height: 1.1;
                    }
                }
        
                a {
                    font-style: italic;
                    text-decoration: none;
                }
        
                &:has(input:checked) .accordion_label {
                    background-color: #000000;
                    color: #ffffff;
                    &::after {
                        color: #ffffff;
                    }
                }
        
                .accordion_label {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    padding: .5rem 2rem;
                    &:hover {
                        background-color: #000000;
                        color: #ffffff;
                        &::after {
                            color: #ffffff;
                        }
                    }
        
                    &::after {
                        color: #000000;
                        content: "✕";
                        position: absolute;
                        right: 16px;
                        transition: 0.5s all ease-in-out;
                        transform: rotate(-45deg);
                        font-weight: bold;
                    }

                    h3 {
                        @media (max-width: 768px) {
                            font-size: 1rem;
                        }
                    }
                }
        
                .accordion_content {
                    max-height: 0;
                    overflow: hidden;
                    transition: 0.25s all ease-in-out;
                    padding: 0 2rem;
                }
        
                input {
                    display: none;
        
                    &:checked + .accordion_label::after {
                        transform: rotate(-360deg);
                    }
        
                    &:checked ~ .accordion_content {
                        max-height: 1800px;
                        padding: 2rem;
                    }
                }
            }
        }
        
        @media (max-width: 768px) {
            .faq {        
                .accordion {        
                    table {
                        display: block;
                        border: none;
                        overflow-x: auto;
                        padding-bottom: 15px;
                        width: 100%;
                    }

                    .accordion_label {
                        padding: 0 2rem 0 1rem;
                    }

                    .accordion_content {
                        padding: 0 1rem;
                    }
        
                    input:checked ~ .accordion_content {
                        padding: 1rem;
                    }
                }
            }
        }

        a {
            text-decoration: underline !important;
        }
    }
    
    &.sec9 {
        padding: 2rem;
        h2 {
            text-align: center;
        }
        p {
            margin: 1rem 0 0;
        }
        .boxFlex {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin: 1rem 0 0;
            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    margin: 1rem 0 0;
                    width: fit-content;
                    background-color: #cccccc;
                    padding: .4rem 2rem;
                    border-radius: 2rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}