include components/imports
include templates/imports

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Estrutura Dafiti
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet", href="external/style.css")
    
    body
        .dafitiStructure
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            
            section.sec1
                .boxVideo
                    img.imgLogoFull(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_10_27_44_Group_54.svg", alt="")
                    .maskVideo
                        video(src="https://dafitistatic.dafiti.com.br/cms/onsite/robozinhos.mp4" autoplay muted loop)
                        .shadowMask
            
            section.sec2
                nav
                    button
                        p O programa
                    button
                        p Vantagens
                    button
                        p Incremento
                    button
                        p Vantagens
                    button
                        p Dúvidas
                    button
                        p Cadastre-se
            
            section.sec3
                .flexCol
                    .boxLeft
                        img.imgLogoFull(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_10_27_44_Group_54.svg", alt="")
                        h1 DAFITI FULL
                        p O projeto foi lançado em 2024 com o objetivo de aprimorar a experiência do cliente e simplificar as operações dos sellers na plataforma de marketplace da Dafiti através do sistema de fulfillment.
                    .boxRight
                        video(src="" controls poster="https://dafitistatic.dafiti.com.br/cms/2025_03_20_14_41_43_Group_26651359.jpg")
            
            section.sec4
                h2 Como funciona <b>o programa</b>
                .timeLine
                    .line
                    .box.box1
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_17_Group_26651290.svg", alt="")
                        .circle
                        h3 Dafiti faz uma sugestão de envio de produtos ao seller
                    .box.box2
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_16_Group_26651289.svg", alt="")
                        .circle
                        h3 Dafiti embala os pedidos e realiza a expedição
                    .box.box3
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_15_Group_26651288.svg", alt="")
                        .circle
                        h3 Dafiti armazena os produtos no LEAP
                    .box.box4
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_19_Group_26651291.svg", alt="")
                        .circle
                        h3 Seller envia produto para Dafiti
                    .box.box5
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_20_Group_26651292.svg", alt="")
                        .circle
                        h3 Dafiti realiza o last mile

            section.sec5
                .flexCol
                    .boxLeft
                        .boxPhone
                            .view
                                img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_21_10_41_30_Print-Ful-Header.png", alt="")
                                .background-phone
                                    img.imgcel(src="https://dafitistatic.dafiti.com.br/cms/2025_03_21_11_33_20_Print_(2).svg", alt="")
                            img.imgmobile(src="https://dafitistatic.dafiti.com.br/cms/2025_03_21_12_07_18_Iphone.svg", alt="")
                    .boxRight
                        .text
                            h2 Vantagens
                            p escale sua operação <span>COM MÁXIMA EFICIÊNCIA</span>
                        ul.boxFaixas
                            li.faixa
                                h3 <b>400%</b> a mais de produção de itens por hora
                            li.faixa
                                h3 Logística avançada: <b>mais eficiência e menos erros</b>
                            li.faixa
                                h3 Melhoria contínua na <b>Experiência do Cliente</b>
                            li.faixa
                                h3 <b>Mais vendas</b> com ampla oferta e melhor experiência
                            li.faixa
                                h3 <b>Menos custos</b> e burocracia com a logística
                            li.faixa
                                h3 Embalagens recicláveis e logística reversa <b>sustentável</b>
                            li.faixa
                                h3 Suporte e dados para <b>gestão estratégica de vendas</b>

            section.sec6
                .flexCol
                    .boxLeft
                        .parallax
                            img.parallaxImage(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_14_58_37__Dafiti_CD_ALTA_DSC3293_RafaelRoncato_(1).jpg", alt="")
                    .boxRight
                        h2 potencial de <b>incremento com dafiti full</b>
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_09_47_10_Group_26651332.svg", alt="")
            
            section.secLine
                .line
                    img.imgPers(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_10_48_50_Mask_group.png", alt="")
                    .boxTxt
                        p O objetivo é que a nossa interface com os clientes seja cada vez mais unificada. Por isso, as marcas ‘Dafiti Full’ possibilitam que o consumidor tenha um <b>único frete e prazo de entrega reduzido na sua compra</b>. Para o seller, estimamos um incremento de até 30% nas vendas devido a maior variedade de sortimento, disponibilidade de grade e conversão pelo carrinho unificado e política de frete.
                        p <b>Daniel Soares, Diretor Executivo Comercial da Dafiti.</b>
            
            section.sec7
                .boxInfos
                    .circle
                        h2 BENEFÍCIOS
                        p estatísticas que IMPULSIONAM SEU NEGÓCIO
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_24_06_Frame.svg", alt="")
                    .line.line1
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_17_Group_26651336.svg", alt="")
                        .text
                            h3 + DE 4 mil itens 
                            p separados por hora.
                    .line.line2
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_18_Group_26651338.svg", alt="")
                        .text
                            h3 Aumento de até 50% 
                            p na eficiência da equipe.
                    .line.line3
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_13_Group_26651333.svg", alt="")
                        .text
                            h3 Área de 250 mil m²
                            p equivalente a 30 campos de futebol.
                    .line.line4
                        .text
                            h3 + de 70 docas 
                            p com capacidade para mais de 100 caminhões por dia.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_14_Group_26651334.svg", alt="")
                    .line.line5
                        .text
                            h3 + DE 300 
                            p robôs em ação.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_20_Group_26651337.svg", alt="")
                    .line.line6
                        .text
                            h3 + de 10.000 pessoas 
                            p entre diretos e indiretos.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_16_Group_26651335.svg", alt="")
            
            section.secLine
                .line.reverse
                    img.imgPers(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_10_56_44_Mask_group_(1).png", alt="")
                    .boxTxt
                        p Com o ‘Dafiti Full’, estamos redefinindo o padrão de <b>eficiência e suporte</b> para nossos parceiros no marketplace. Nossa infraestrutura de <b>ponta e processos automatizados</b> não apenas simplificam as operações dos sellers, mas também garantem que os clientes recebam uma <b>experiência de compra excepcional</b>. Ao centralizar a logística e oferecer soluções como embalagem sustentável e logística reversa, capacitamos nossos parceiros a focarem no crescimento de suas marcas, enquanto nós cuidamos do resto.
                        p <b>Rodrigo Rezende Leite, Diretor de Marketplace da Dafiti.</b>

            section.sec8
                h2 dúvidas sobre <b>Dafiti full</b>
                p Saiba mais sobre <b>o programa</b></b>
                .faq
                    .accordion
                        input#check_1(type="checkbox")
                        label.accordion_label(for="check_1")
                            h3 O que é o programa Dafiti Full e como ele funciona?
                        .accordion_content
                            h4 A Dafiti oferece uma solução integrada para otimizar operações e melhorar a experiência de compra. 
                            p O Dafiti Full é o serviço de fulfillment da Dafiti, que gerencia toda a operação logística de sellers do marketplace, incluindo armazenagem, separação, embalagem, expedição, entrega e logística reversa. Os produtos são enviados ao centro de distribuição da Dafiti (LEAP), onde toda a operação é realizada de forma automatizada e eficiente.
                    .accordion
                        input#check_2(type="checkbox")
                        label.accordion_label(for="check_2")
                            h3 Quais são as vantagens de usar o fulfillment da Dafiti para minha marca?
                        .accordion_content
                            p O projeto Dafiti Full oferece uma série de vantagens significativas para os sellers, otimizando suas operações e melhorando a experiência do cliente. A seguir, destacamos os principais benefícios que juntos contribuem para um aumento potencial nas vendas.
                            <table border="1">
                                <tr>
                                    <th>Vantagem</th>
                                    <th>Descrição</th>
                                    <th>Diferenciais Dafiti</th>
                                </tr>
                                <tr>
                                    <td><h4>Maior Eficiência Operacional</h4></td>
                                    <td>O uso de tecnologia avançada para armazenagem automatizada melhora a eficiência e reduz erros.</td>
                                    <td>Alta precisão de inventário e processos otimizados garantem operações mais rápidas e confiáveis.</td>
                                </tr>
                                <tr>
                                    <td><h4>Logística Otimizada</h4></td>
                                    <td>Entrega rápida com 60% dos pedidos chegando em até 2 dias, melhorando a satisfação do cliente.</td>
                                    <td>Em São Paulo, 80% dos pedidos são entregues nesse prazo, destacando a eficiência local.</td>
                                </tr>
                                <tr>
                                    <td><h4>Benefícios Fiscais</h4></td>
                                    <td>Redução de carga tributária através de operações interestaduais bem geridas.</td>
                                    <td>Facilita a expansão e competitividade no mercado nacional.</td>
                                </tr>
                                <tr>
                                    <td><h4>Experiência Aprimorada para o Cliente</h4></td>
                                    <td>Produtos são entregues com rapidez e qualidade, aumentando a satisfação do cliente.</td>
                                    <td>Suporte completo pela Dafiti assegura uma experiência de compra sem complicações.</td>
                                </tr>
                                <tr>
                                    <td><h4>Incremento de Vendas</h4></td>
                                    <td>O uso do fulfillment pode levar a um aumento significativo nas vendas.</td>
                                    <td>Potencial de até 40% de incremento devido à maior visibilidade e eficiência.</td>
                                </tr>
                            </table>
                    .accordion
                        input#check_3(type="checkbox")
                        label.accordion_label(for="check_3")
                            h3 Como faço para aderir ao programa e quais são os requisitos?
                        .accordion_content
                            p Para aderir ao projeto Dafiti Full, os sellers devem seguir alguns passos e atender a certos requisitos. Abaixo estão os detalhes do processo de adesão:
                            h4 Passos para Adesão
                            ol
                                <li>Envio de documentação e aceite do contrato no Seller Center.</li>
                                <li>Parametrização da loja e participação em treinamento.</li>
                                <li>Agendamento e envio dos produtos para o centro de distribuição.</li>
                            h4 Requisitos
                            ul
                                <li>CNPJ ativo em MG ou contrato de comodato com a Dafiti.</li>
                                <li>Certificado digital e fornecimento de informações tributárias.</li>
                    .accordion
                        input#check_4(type="checkbox")
                        label.accordion_label(for="check_4")
                            h3 O fulfillment é obrigatório para todos os sellers do marketplace?
                        .accordion_content
                            h4 O Fulfillment é opcional, mas altamente recomendado para maximizar resultados. 
                            p Embora o uso do fulfillment não seja obrigatório, ele é fortemente recomendado para sellers que buscam expandir suas operações de forma eficiente e oferecer uma experiência de compra superior aos clientes. Ao adotar o Dafiti Full, os sellers podem se beneficiar de processos logísticos otimizados, entregas mais rápidas e um suporte abrangente, o que pode resultar em um aumento significativo nas vendas e na satisfação do cliente.
                    .accordion
                        input#check_5(type="checkbox")
                        label.accordion_label(for="check_5")
                            h3 Como funciona o processo logístico, desde o envio do estoque até a entrega ao cliente?
                        .accordion_content
                            p O processo de fulfillment pela Dafiti envolve várias etapas, desde o envio dos produtos até a gestão de devoluções. A tabela abaixo detalha cada etapa do processo e identifica os responsáveis por cada uma delas:
                            <table border="1">
                                <tr>
                                    <th>Etapa</th>
                                    <th>Descrição</th>
                                    <th>Responsável</th>
                                </tr>
                                <tr>
                                    <td><h4>Envio de Produtos</h4></td>
                                    <td>Os produtos são enviados ao centro de distribuição (LEAP).</td>
                                    <td>Seller</td>
                                </tr>
                                <tr>
                                    <td><h4>Recebimento e Armazenagem</h4></td>
                                    <td>Realização do recebimento, conferência e armazenagem dos produtos.</td>
                                    <td>Dafiti</td>
                                </tr>
                                <tr>
                                    <td><h4>Processamento de Pedidos</h4></td>
                                    <td>Produtos são separados, embalados e enviados diretamente ao cliente.</td>
                                    <td>Dafiti</td>
                                </tr>
                                <tr>
                                    <td><h4>Logística Reversa</h4></td>
                                    <td>Gerenciamento de devoluções e logística reversa.</td>
                                    <td>Dafiti</td>
                                </tr>
                            </table>
                    .accordion
                        input#check_6(type="checkbox")
                        label.accordion_label(for="check_6")
                            h3 Quais são os custos envolvidos para os sellers que utilizam o serviço?
                        .accordion_content
                            p Ao participar do projeto Dafiti Full, os sellers devem estar cientes dos custos envolvidos. Abaixo estão os principais custos associados e algumas despesas adicionais que podem ser evitadas com uma boa gestão:
                            h4 Custos Incluídos
                            <ul>
                                <li><h5>Comissão do marketplace</h5></li>
                                <li><h5>Taxa de envio</h5></li>
                                <li><h5>Taxa de armazenagem</h5></li>
                            </ul>
                            h4 Custos Adicionais e Evitáveis
                            <ul>
                                <li><h5>Estoque antigo</h5></li>
                                <li><h5>Retirada de produtos</h5></li>
                                <li><h5>No-show</h5></li>
                                <li><h5>Inconformidade no envio</h5></li>
                            </ul>
                    .accordion
                        input#check_7(type="checkbox")
                        label.accordion_label(for="check_7")
                            h3 Como o fulfillment impacta os prazos de entrega e a experiência do cliente?
                        .accordion_content
                            h4 O Dafiti Full desempenha um papel crucial na eficiência logística e na satisfação do cliente. 
                            p O fulfillment reduz significativamente os prazos de entrega, com 60% dos pedidos chegando em até 2 dias (80% em SP). Isso melhora a satisfação dos clientes, aumentando as chances de recompra e fidelidade.
                    .accordion
                        input#check_8(type="checkbox")
                        label.accordion_label(for="check_8")
                            h3 A Dafiti cuida de toda a operação, incluindo emissão de notas fiscais e devoluções?
                        .accordion_content
                            h4 No programa Dafiti Full, a Dafiti assume toda a operação logística 
                            p Sim, no fulfillment, a Dafiti gerencia todas as etapas logísticas, incluindo a emissão de notas fiscais, armazenagem, separação e expedição de pedidos, além da gestão de devoluções. Isso permite que os sellers se concentrem em áreas estratégicas do negócio, como marketing e desenvolvimento de produtos, enquanto a Dafiti garante uma operação logística eficiente e uma experiência de compra tranquila para os clientes.
                    .accordion
                        input#check_9(type="checkbox")
                        label.accordion_label(for="check_9")
                            h3 Como funciona a logística reversa para pedidos do Dafiti Full?
                        .accordion_content
                            p A logística reversa no programa Dafiti Full é projetada para ser eficiente e conveniente, tanto para os clientes quanto para os sellers. Abaixo estão os principais passos do processo de devolução:
                            <ul>
                                <li><h4>A Dafiti gerencia a logística reversa, oferecendo um processo simplificado para devoluções.</h4></li>
                                <li><h4>Os clientes finais devolvem os produtos, que são direcionados ao centro de distribuição da Dafiti.</h4></li>
                                <li><h4>A equipe da Dafiti avalia o estado do item devolvido.</h4></li>
                                <li><h4>Procedimentos necessários são realizados, como reestocagem ou destinação final, de acordo com a política de devoluções.</h4></li>
                            </ul>
                    .accordion
                        input#check_10(type="checkbox")
                        label.accordion_label(for="check_10")
                            h3 O programa permite a personalização de embalagens ou inclui apenas a padronização da Dafiti?
                        .accordion_content
                            h4 O programa Dafiti Full utiliza embalagens padronizadas da Dafiti. 
                            p O uso de embalagens padronizadas é uma prática adotada no programa Dafiti Full para assegurar uma experiência de compra consistente e profissional para todos os clientes. Essa padronização não apenas reforça a identidade da marca Dafiti, mas também otimiza o processo logístico, facilitando o manuseio, transporte e armazenamento dos produtos.
                            p Embora a personalização de embalagens não seja permitida no modelo padrão, essa abordagem garante que todos os pacotes atendam aos altos padrões de qualidade e eficiência estabelecidos pela Dafiti, contribuindo para a satisfação do cliente e a eficiência operacional.
                    .accordion
                        input#check_11(type="checkbox")
                        label.accordion_label(for="check_11")
                            h3 Como o fulfillment pode ajudar a aumentar as vendas no marketplace?
                        .accordion_content
                            p O programa Dafiti Full oferece várias vantagens que podem contribuir para o aumento das vendas no marketplace. A seguir, destacamos os principais fatores que impulsionam esse crescimento:
                            <ul>
                                <li><h4>Maior Visibilidade no Marketplace</h4>Produtos armazenados pela Dafiti ganham destaque no marketplace devido ao peso que os itens de fulfillment têm no algoritmo, aumentando a visibilidade e o potencial de conversão.</li> 
                                <li><h4>Logística Ágil e Entrega Rápida</h4>A logística ágil e o prazo de entrega reduzido proporcionam uma melhor experiência para o cliente.</li> 
                                <li><h4>Impacto Positivo nas Avaliações</h4>Uma experiência de compra positiva impacta favoravelmente as avaliações dos clientes e promove a fidelização.</li>
                            </ul>
                            p Em resumo, o fulfillment não apenas melhora a eficiência operacional, mas também aumenta a visibilidade dos produtos e a satisfação do cliente, resultando em um potencial significativo de aumento nas vendas.
                    .accordion
                        input#check_12(type="checkbox")
                        label.accordion_label(for="check_12")
                            h3 O que acontece se o meu estoque no fulfillment acabar? Como reabastecê-lo?
                        .accordion_content
                            h4 A Dafiti gerencia o estoque de fulfillment para assegurar a disponibilidade dos seus produtos aos clientes. 
                            p Se o estoque de fulfillment acabar, automaticamente exibiremos o seu estoque próprio no site caso tenha. Para reabastecer, o time comercial do fulfillment trabalha sempre com antecipação, comunicando os itens que devem ser reabastecidos, e assim o envio de novos itens para o centro de distribuição da Dafiti será realizado, seguindo as orientações de agendamento e preparação de mercadorias fornecidas pelo programa.
                    .accordion
                        input#check_13(type="checkbox")
                        label.accordion_label(for="check_13")
                            h3 Onde posso tirar dúvidas e obter suporte sobre o programa?
                        .accordion_content
                            h4 Entre em contato com a Dafiti pelos canais de suporte dedicados ao programa Dafiti Full 
                            p Para esclarecer dúvidas e obter suporte sobre o programa Dafiti Full, você pode entrar em contato diretamente com o time de atendimento ao seller. Além disso, a Dafiti oferece um portal de parceiros repleto de recursos úteis, incluindo guias detalhados, FAQs e canais de contato específicos.
                            p Esses recursos são projetados para ajudar os sellers a navegar pelo programa com facilidade. Para questões mais específicas, você também pode enviar um e-mail para comercial.fulfillment@dafiti.com.br, onde uma equipe dedicada está pronta para oferecer assistência personalizada.

            section.sec9
                h2 cadastre-se para <b>participar</b>
                p Interessado em aproveitar as vantagens do Dafiti Full? Inscreva-se agora para se tornar um seller parceiro e usufruir de todos os benefícios que o nosso sistema de fulfillment oferece.
                .boxFlex
                    .box
                        p <b>Já sou seller e quero aderir ao Full</b>
                        a(href="http://", target="_blank", rel="noopener noreferrer")
                            p clique aqui
                    .box
                        p <b>Quero me cadastrar para vender na Dafiti</b>
                        a(href="http://", target="_blank", rel="noopener noreferrer") 
                            p clique aqui

    //- script(src="external/scripts.js")
    script(src="js/script.js")