include components/imports
include templates/imports

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Estrutura Dafiti
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet", href="external/style.css")
    
    body
        .dafitiStructure
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            
            section.sec1
                .boxVideo
                    img.imgLogoFull(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_10_27_44_Group_54.svg", alt="")
                    .maskVideo
                        video(src="../videos/robozinhos.mp4" autoplay muted loop)
                        .shadowMask
            
            section.sec2
                nav
                    button
                        p O programa
                    button
                        p Vantagens
                    button
                        p Incremento
                    button
                        p Big Numbers
                    button
                        p Dúvidas
                    button
                        p Cadastre-se
            
            section.sec3
                .flexCol
                    .boxLeft
                        img.imgLogoFull(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_10_27_44_Group_54.svg", alt="")
                        h2 DAFITI FULL
                        p O projeto foi lançado em 2024 com o objetivo de aprimorar a experiência do cliente e simplificar as operações dos sellers na plataforma de marketplace da Dafiti através do sistema de fulfillment.
                    .boxRight
                        video(src="" controls)
            
            section.sec4
                h2 Como funciona o programa
                .timeLine
                    .line
                    .box
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_17_Group_26651290.svg", alt="")
                        .circle
                        p Dafiti faz uma sugestão de envio de produtos ao seller
                    .box
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_16_Group_26651289.svg", alt="")
                        .circle
                        p Dafiti embala os pedidos e realiza a expedição
                    .box
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_15_Group_26651288.svg", alt="")
                        .circle
                        p Dafiti armazena os produtos no LEAP
                    .box
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_19_Group_26651291.svg", alt="")
                        .circle
                        p Seller envia produto para Dafiti
                    .box
                        img.ico(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_11_24_20_Group_26651292.svg", alt="")
                        .circle
                        p Dafiti realiza o last mile

            section.sec5
                .flexCol
                    .boxLeft
                        .video-phone
                            video(src="../videos/aooba.mp4" autoplay muted loop)
                            .background-phone
                    .boxRight
                        .text
                            h2 Vantagens
                            p escale sua operação COM MÁXIMA EFICIÊNCIA
                        .boxFaixas
                            .faixa
                                p 400% a mais de produção de itens por hora
                            .faixa
                                p Logística avançada: mais eficiência e menos erros
                            .faixa
                                p Melhoria contínua na Experiência do Cliente
                            .faixa
                                p Mais vendas com ampla oferta e melhor experiência
                            .faixa
                                p Menos custos e burocracia com a logística
                            .faixa
                                p Embalagens recicláveis e logística reversa sustentável
                            .faixa
                                p Suporte e dados para gestão estratégica de vendas

            section.sec6
                .flexCol
                    .boxLeft
                        .parallax
                            img.parallaxImage(src="https://dafitistatic.dafiti.com.br/cms/2025_03_19_14_58_37__Dafiti_CD_ALTA_DSC3293_RafaelRoncato_(1).jpg", alt="")
                    .boxRight
                        h2 potencial de incremento com dafiti full
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_09_47_10_Group_26651332.svg", alt="")
            
            section.secLine
                .line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_10_48_50_Mask_group.png", alt="")
                    .boxTxt
                        p O objetivo é que a nossa interface com os clientes seja cada vez mais unificada. Por isso, as marcas ‘Dafiti Full’ possibilitam que o consumidor tenha um único frete e prazo de entrega reduzido na sua compra. Para o seller, estimamos um incremento de até 30% nas vendas devido a maior variedade de sortimento, disponibilidade de grade e conversão pelo carrinho unificado e política de frete.
                        p Daniel Soares, Diretor Executivo Comercial da Dafiti.
            
            section.sec7
                .boxInfos
                    .circle
                        h2 BENEFÍCIOS
                        p estatísticas que IMPULSIONAM SEU NEGÓCIO
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_24_06_Frame.svg", alt="")
                    .line.line1
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_17_Group_26651336.svg", alt="")
                        .text
                            h3 + DE 4 mil itens 
                            p separados por hora.
                    .line.line2
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_18_Group_26651338.svg", alt="")
                        .text
                            h3 Aumento de até 50% 
                            p na eficiência da equipe.
                    .line.line3
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_13_Group_26651333.svg", alt="")
                        .text
                            h3 Área de 250 mil m²
                            p equivalente a 30 campos de futebol.
                    .line.line4
                        .text
                            h3 + de 70 docas 
                            p com capacidade para mais de 100 caminhões por dia.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_14_Group_26651334.svg", alt="")
                    .line.line5
                        .text
                            h3 + DE 300 
                            p robôs em ação.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_20_Group_26651337.svg", alt="")
                    .line.line6
                        .text
                            h3 + de 10.000 pessoas 
                            p entre diretos e indiretos.
                        img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_11_20_16_Group_26651335.svg", alt="")
            
            section.secLine
                .line.reverse
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_03_20_10_56_44_Mask_group_(1).png", alt="")
                    .boxTxt
                        p Com o ‘Dafiti Full’, estamos redefinindo o padrão de eficiência e suporte para nossos parceiros no marketplace. Nossa infraestrutura de ponta e processos automatizados não apenas simplificam as operações dos sellers, mas também garantem que os clientes recebam uma experiência de compra excepcional. Ao centralizar a logística e oferecer soluções como embalagem sustentável e logística reversa, capacitamos nossos parceiros a focarem no crescimento de suas marcas, enquanto nós cuidamos do resto.
                        p Rodrigo Rezende Leite, Diretor de Marketplace da Dafiti.

            section.sec8
                .limited
                    .faq
                        h2 dúvidas sobre Dafiti full
                        p saiba mais sobre O PROGRAMA
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 O que é o programa Dafiti Full e como ele funciona?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Quais são as vantagens de usar o fulfillment da Dafiti para minha marca?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Como faço para aderir ao programa e quais são os requisitos?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 O fulfillment é obrigatório para todos os sellers do marketplace?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Como funciona o processo logístico, desde o envio do estoque até a entrega ao cliente?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Quais são os custos envolvidos para os sellers que utilizam o serviço?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Como o fulfillment impacta os prazos de entrega e a experiência do cliente?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 A Dafiti cuida de toda a operação, incluindo emissão de notas fiscais e devoluções?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Como funciona a logística reversa para pedidos do Dafiti Full?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 O programa permite a personalização de embalagens ou inclui apenas a padronização da Dafiti?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Como o fulfillment pode ajudar a aumentar as vendas no marketplace?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 O que acontece se o meu estoque no fulfillment acabar? Como reabastecê-lo? 
                            .accordion_content
                                h4 Titulo
                                p Paragrafo
                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 Onde posso tirar dúvidas e obter suporte sobre o programa?
                            .accordion_content
                                h4 Titulo 
                                p Paragrafo

            section.sec9
                h2 cadastre-se para participar
                p Interessado em aproveitar as vantagens do Dafiti Full? Inscreva-se agora para se tornar um seller parceiro e usufruir de todos os benefícios que o nosso sistema de fulfillment oferece.
                .boxFlex
                    .box
                        p Já sou seller e quero aderir ao Full
                        a(href="http://", target="_blank", rel="noopener noreferrer")
                            p clique aqui
                    .box
                        p Quero me cadastrar para vender na Dafiti
                        a(href="http://", target="_blank", rel="noopener noreferrer") 
                            p clique aqui

    //- script(src="external/scripts.js")
    script(src="js/script.js")